@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100dvh;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

[data-twemoji] {
    @apply size-[1.4em] inline-block align-text-bottom;
}

.gradient-sidebar {
    border-right: 1px solid #0000;
    background: linear-gradient(rgb(38 38 38), rgb(38 38 38)) padding-box,
        linear-gradient(
                var(--angle),
                rgb(59 130 246 / 0.6),
                rgb(34 197 94 / 0.6)
            )
            border-box;
    animation: 6s rotate linear infinite;
}

.gradient-button {
    border: 3px solid #0000;
    border-radius: 999px;
    background: linear-gradient(rgb(38 38 38), rgb(38 38 38)) padding-box,
        linear-gradient(var(--angle), rgb(59 130 246), rgb(34 197 94))
            border-box;
    animation: 2s rotate linear infinite;
}

.gradient-logo-servers {
    border: 3px solid #0000;
    border-radius: 999px;
    background: linear-gradient(rgb(38 38 38), rgb(38 38 38)) padding-box,
        linear-gradient(var(--angle), rgb(38, 38, 38), rgb(0, 255, 94))
            border-box;
    animation: 2s rotate linear infinite;
}

.gradient-logo-posts {
    border: 3px solid #0000;
    border-radius: 999px;
    background: linear-gradient(rgb(38 38 38), rgb(38 38 38)) padding-box,
        linear-gradient(var(--angle), rgb(38, 38, 38), rgb(59 130 246))
            border-box;
    animation: 2s rotate linear infinite;
}

.gradient-logo-both {
    border: 3px solid #0000;
    border-radius: 999px;
    background: linear-gradient(rgb(38 38 38), rgb(38 38 38)) padding-box,
        linear-gradient(var(--angle), rgb(34 197 94), rgb(59 130 246))
            border-box;
    animation: 2s rotate linear infinite;
}

.gradient-box {
    border: 3px solid #0000;
    background: linear-gradient(rgb(38 38 38), rgb(38 38 38)) padding-box,
        linear-gradient(var(--angle), rgb(59 130 246), rgb(34 197 94))
            border-box;
    animation: 2s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
