@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100dvh;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

[data-twemoji] {
    @apply size-[1.4em] inline-block align-text-bottom;
}
